@model Transporto.ViewModels.usuario._DeleteUsuarioViewModel
@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("DeleteUsuario", "Usuario", FormMethod.Post);
}

<div class="row">
    <div class="col-sm-6">
        @Html.HiddenFor(x => x.usuarioID)
        <h3>Esta seguro que desea eliminar este Usuario </h3>
    </div>
</div>
@section Footer {
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Aceptar</button>
}


